<div class="row">
  <div class="col">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
    <div class="col">
      <div >
        
        <a href="#">Add ingridients to shopping list</a><br>
        <a href="#">Edit</a><br>
        <a href="#">Delete</a>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Decription
    </div>
  </div>
  <div class="row">
    <div class="col">
      Ingredients
    </div>
  </div>
